@{
    ViewBag.Title = "Home Page";
}
<style>
    body{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size:medium;
        font-weight:bold;
    }

    #kiwilabs {
        margin-top: 15px;
        border-radius: 4px;
    }

    #news {
        margin-top: 80px;
        border-radius: 4px;
    }
    #about {
        margin-top: 80px;
        padding-bottom: 15%;
        border-radius: 4px;
    }
    #contacs {
        margin-top: 80px;
        padding-bottom: 40%;
        margin-bottom: 50px;
        border-radius: 4px;
    }
    #foto2{
        width:60%;
        margin:100px 200px 200px 200px;
    }
    #foto3 {
        width: 75%;
        margin: 100px 200px 200px 150px;
    }

</style>

<div class="container border">

    <div id="kiwilabs" class="row bg-warning">
        <div style="background-color:darkgrey ; overflow:hidden">
            <h1 style="text-align:center ; color:green">Company Name</h1>
        </div>
         <img id="foto3" src="~/Content/image3.jpg" class="img-circle" />
    </div>

    <div id="news" class="row bg-warning">
        <h1 style="text-align:center">News</h1>
        <h3 style="margin:30px;padding-top:30px;padding-bottom:10px;color:red;">
            Both of light
            Particle Hem
            The First as a Wave
            View
        </h3>
        <p style="font-size:larger ; margin:30px 15px 15px 30px;">
            According to quantum mechanics
            light is a particle and a wave
            can exhibit a dual behavior. But the nature of light
            An experiment that can capture these two aspects at the same time
            could not be realized until.<br /><br />
            Light
            Just a wave or just one at a time
            it could only be observed as particles.<br /> However, EPFL researchers reported the results last March.
            Completely different in research published in Nature Communications
            by taking an experimental approach
            it was the first to visualize the dual nature of light.
        </p>
        <img id="foto2" src="~/Content/image2.png" class="img-circle" />
    </div>

    <div id="about" class="row bg-warning">       
        <h1 style="text-align:center">About</h1>
        <p style="font-size:larger ; margin:30px 15px 15px 30px;">
            In our age where information and technology have become a responsibility beyond necessity in almost every field, our company, which serves all institutions that want to go beyond the time,
            has become a leader in its sector with its experience and customer-oriented work.<br />
            We offer our customers the most reliable, highest quality and most efficient programs in the sector with the high qualities we have in our age where technology is of great importance.<br />
            We are always at your side with our team of experts who have proven themselves in web design as well as providing services to public institutions and organizations in software,
            integration and automation.<br /><br />

             we offer information technology consultancy, system development and integrator services to our customers.<br />
            We develop and apply solutions to our customers who use technology to achieve better results.<br /><br />

            We know that our customers expect integrated, easy-to-use, contemporary solutions, and we continue our work by attaching great importance to this expectation.<br />
            With our solutions, we ensure the business sustainability of our customers and increase their performance.<br /><br />

            Business formula is straight forward; To know our customer's business at least as well as our own. <br />
            Our flexible structure allows us to adapt and shape information technology to suit customer needs.<br />
            The customer is everything to us. In all our business, customers and their needs are our focus.<br />
            We determine the customer needs, produce the appropriate solution, test and deliver it to our customer.<br /><br />

            We do all this with our team consisting of graduates from the best universities in their field,
            knowledge, passion for our work and most importantly, with the high value we give to our customers.
        </p>
    </div>

    <div id="contacs" class="row bg-warning">    
        <h1 style="text-align:center">Contacs</h1>   
        <p style="margin-left:50px;margin-top:50px">Hüseyin Cumalı <br /> +90 111 222 33 44</p>
    </div>

</div>
