
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #usern1 {
        padding:8px;
        background-color: #e0e0e0;
        border:1px solid black;
        border-radius: 21px;  
        margin-top:50px;
        margin-bottom:10px;

    }

    #pw1 {
        padding: 8px;
        background-color: #e0e0e0;
        border: 1px solid black;
        border-radius: 21px;
        margin-bottom:20px;
        
    }

    #btn_login {
        padding: 10px;
        background-color: #2fcc00;
        border-radius: 21px;
        border: 1px solid black;
        margin-left: 8rem;
    }

</style>


<h2 style="text-align:center;font-weight:bolder ; margin-top:25px;color:red ; margin-left:10rem">Sign In</h2>

<div class="container" style="border-radius: 14px ; display:inline-block"> <!--Creating the container-->
    <div class="row" ; style="text-align:center">
            
            <label>USERNAME</label>
            <input id="usern1" type="text"><br>
            
            <label>PASSWORD</label>
            <input id="pw1" type="password"><br>
            
            <button id="btn_login" onclick="LoginCheck()">LOGIN</button>
        
    </div>
</div>

<script>
    function LoginCheck() {
        var username = document.getElementById("usern1").value;
        var password = document.getElementById("pw1").value;

        if (username.length < 3 || password.length < 3) {
            alert("Check your username or pw!");
            return;
        }

        $.ajax({
            url: "/Home/LoginProcess",
            type: "POST",
            data: {
                userNameLogin: username, passwordLogin: password // will be accessible in $_POST['data1']
            },
            success: function (result) {
                console.log(result);
                console.log(typeof result);
                if (result == "True") {
                    window.location = "/Dashboard/Index";
                    console.log("İstek BASARILI.");
                }
                else {
                    console.log("İstek BASARISIZ.");
                }
            }
        });
        alert("Giris basarili.Admin Paneline yönlendiriliyorsunuz.");
    }
</script>


